body {
    margin: 0;
    padding: 0;
}

.head {
    background-image: url(../Images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 600px;
    position: relative;
    left: 100px;
}

h5 {
    position: relative;
    top: -9px;
}

.btn-menu {
    display: flex;
    justify-content: space-between;
    gap: 13px;
    position: relative;
    top: 12px;
    height: 30px;
}

.login {
    background-color: rgb(252, 252, 252);
    border: none;
    border-radius: 3px;
    color: rgb(248, 67, 34);
    padding: 8px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 14px 0px 14px;
    position: relative;
}

.join {
    background-color: rgb(248, 67, 34);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 8px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 14px 0px 14px;
    position: relative;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-decoration: none;
    position: relative;
}

a {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 136, 0);
    font-size: 11px;
}

a:hover {
    color: black;
}

h6 {
    text-align: center;
}

h6>a {
    color: rgb(255, 136, 0);
}

.high {
    position: relative;
    text-align: center;
    width: 300px;
    left: 300px;
}

h1 {
    color: rgb(226, 4, 4);
}

.pa {
    position: relative;
    text-align: center;
}

.btn-join {
    display: flex;
    justify-content: center;
    height: 30px;
}

.big-gride {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 600px;
    position: relative;
    left: 150px;
}

.small-gride {
    background-color: white;
    width: 300px;
}

.small-gride3 {
    background-color: rgb(235, 75, 63);
    width: 300px;
}

hr {
    width: 40px;
    position: relative;
    right: 55px;
    color: rgb(235, 75, 63);
}

.hr3 {
    width: 40px;
    position: relative;
    right: 55px;
    color: white;
}

.fixed {
    width: 30px;
    position: relative;
    left: 17px;
    top: 13px;
}

h4 {
    position: relative;
    left: 17px;
    font-size: 14px;
}

.t3 {
    position: relative;
    left: 17px;
    color: white;
    font-size: 13px;
}

.para {
    font-size: 12px;
    position: relative;
    left: 17px;
    width: 150px;
    color: rgb(56, 56, 56)
}

.para3 {
    font-size: 12px;
    position: relative;
    left: 17px;
    width: 150px;
    color: white;
}

.son {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    position: relative;
    width: 630px;
    left: 100px;
}

.image-son {
    width: 300px;
}

.watch {
    width: 200px;
    position: relative;
    top: 50px;
}

.para4 {
    font-size: 12px;
    position: relative;
    left: 17px;
    width: 150px;
    color: rgb(94, 93, 93);
}

h2 {
    position: relative;
    left: 14px;
    width: 220px;
}

.image-son2 {
    width: 280px;
}

.watch>a {
    position: relative;
    left: 15px;
}

.watch2>a {
    position: relative;
    left: 15px;
}

.watch2 {
    width: 200px;
    position: relative;
    top: 10px;
}

.para4 {
    font-size: 11px;
    position: relative;
    left: 17px;
    width: 200px;
    color: rgb(94, 93, 93);
}
.courses{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    width: 630px;
    left: 100px;
}
.get{
    width: 300px;
    font-size: 20px;
}
.get-courses{
    width: 380px;
}
.para5 {
    font-size: 11px;
    position: relative;
    left: 17px;
    width: 285px;
    color: rgb(94, 93, 93);
    bottom: 10px;
}
.cour{
    position: relative;
    left: 15px;
    top: 15px;
    color: rgb(241, 11, 11);
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.row{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    position: relative;
    left: 110px;
    width: 630px;
}
.fixed-height1{
    width: 140px;
    margin-bottom: 8px;
}
.book{
    display: flex;
    gap: 5px;
    position: relative;
    left: 15px;
}
.lib{
    font-size: 8px;
    position: relative;
    top: -17px;
    color: rgb(248, 67, 34);
}
.sec{
    width: 20px;
    height: 13px;
}
.down{
    display: flex;
    gap: 10px;
    position: relative;
    top: -55px;
    left: 13px;

}
.prix{
    display: flex;
    gap: 5px;
    position: relative;
    top: -63px;
    left: 17px;
}
.title-article{
    font-size: 10px;
    position: relative;
    top: -45px;
    left: 13px;
}
.para-cours {
    font-size: 8px;
    width: 150px;
    color: rgb(56, 56, 56);
    width: 90px;
    position: relative;
    top: -50px;
    left: 13px;
}
.sec2{
    width: 10px;
    height: 10px;
    position: relative;
    top: 7px;
}
.sales{
    font-size: 8px;
}
.prix-para{
    font-size: 8px;
}
.learn{
    font-size: 8px;
    padding: 5px 7px;
    border-radius: 30px;
    border:solid 1px;
    border-color: rgb(248, 67, 34);
    color: rgb(248, 67, 34);
    background-color: white;
    position: relative;
    top: -60px;
    left: 15px;
}
.containe{
    background-color: rgb(52, 52, 109); 
    padding: 40px; 
}
.gig-free{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.free{
    width: 180px;
    height: 400px;
}
.free2{
    width: 200px;
    height: 430px;
    position: relative;
    top: -15px;
}
.most{
    font-size: 22px;
    color: white;
    position: relative;
    left: 110px;
}
.para-con{
    width: 300px;
    font-size: 10px;
    position: relative;
    left: 110px;
    color: rgb(247, 244, 244);
}
.practice{
    display: inline;
    color: rgb(248, 67, 34);
    position: relative;
    left: 110px;
}
.corps{
    padding: 40px; 
}
.most2{
    font-size: 22px;
    color: rgb(8, 8, 8);
    position: relative;
    left: 110px;
}
.para-con2{
    width: 300px;
    font-size: 10px;
    position: relative;
    left: 110px;
    color: rgb(7, 7, 7);
}
.profils{
    display: flex;
    justify-content: space-between;
    width: 500px;
    position: relative;
    left: 200px;
}
.para6{
    font-size: 8px;
    width: 145px;
    text-align: center;
    color: rgb(90, 89, 89);
}
.profil{
    width: 60px;
    position: relative;
    left: 45px;
}
.star{
    width: 10px;
    position: relative;
    left: 40px;
    top: -5px;
}
.nom{
    position: relative;
    top: -30px;
}
.corps2{
    text-align: center;
    width: 400px;
    position: relative;
    left: 250px;
}
.poste{
    font-size: 8px;
    position: relative;
    top: -50px;
    left: 58px;
    color: rgb(90, 89, 89);
}
.practice2{
    color: rgb(248, 67, 34);
}
.most3{
    font-size: 22px;
    color: rgb(8, 8, 8);
    position: relative;
    left: 80px;
    top: -19px;
}
.para-con3{
    font-size: 10px;
    color: rgb(7, 7, 7);
    width: 250px;
    position: relative;
    left: 75px;
    top: -30px;
    color: rgb(90, 89, 89);
}
.search{
    display: flex;
    justify-content: center;
}
.mail{
    width: 280px;
    font-size: 10px;
    padding: 5px;
}
.join2 {
    background-color: rgb(248, 67, 34);
    border: none;
    color: white;
    padding: 8px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 14px 0px 14px;
    position: relative;
}
.fouter{
    display: flex;
    justify-content: center;
    width: 600px;
    position: relative;
    left: 180px;
}
.lien{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 5px;
}
.logo-fouter{
    width: 11px;
}
.logo-fouter1{
    width: 8px;
    height: 17px;
    position: relative;
    top: 5px;
}

ol a{
    color: rgb(44, 44, 44);
    width: 200px;
}
.fout{
    font-size: 10px;
}
.fout2{
    font-size: 10px;
    position: relative;
    right: 50px;
}
.list-f{
    width: 100px;
}
.fouter2{
    display: flex;
    justify-content: center;
    gap: 350px;
    background-color: rgb(226, 225, 225);
}
.para-fout{
    font-size: 10px;
}

.logo-e{
    width: 11px;
    position: relative;
    padding: 10px 18px 0px 0px;
}

